fastapi>=0.135.3
keras>=3.14.0
langdetect>=1.0.9
librosa>=0.11.0
nltk>=3.9.4
opencv-python>=4.13.0.92
pillow>=12.2.0
pydantic>=2.12.5
python-dotenv>=1.2.2
python-multipart>=0.0.24
requests>=2.33.1
sarvamai>=0.1.27
tensorflow>=2.21.0
tf-keras>=2.21.0
torch>=2.11.0
torchaudio>=2.11.0
torchvision>=0.26.0
transformers>=5.5.1
ultralytics>=8.4.36
uvicorn>=0.44.0